backend/bga-app/bga-app/DBConnection.cs
backend/bga-app/.vs/bga-app/DesignTimeBuild/.dtbcache.v2
backend/bga-app/.vs/bga-app/v16/.suo
backend/bga-app/bga-app/bin/Debug/netcoreapp3.1/bga-app.dll
backend/bga-app/bga-app/bin/Debug/netcoreapp3.1/bga-app.pdb
backend/bga-app/bga-app/obj/Debug/netcoreapp3.1/bga-app.assets.cache
backend/bga-app/bga-app/obj/Debug/netcoreapp3.1/bga-app.csproj.CoreCompileInputs.cache
backend/bga-app/bga-app/obj/Debug/netcoreapp3.1/bga-app.csprojAssemblyReference.cache
backend/bga-app/bga-app/obj/Debug/netcoreapp3.1/bga-app.dll
backend/bga-app/bga-app/obj/Debug/netcoreapp3.1/bga-app.pdb
backend/bga-app/bga-app/obj/Debug/netcoreapp3.1/project.razor.json
backend/bga-app/.vs/bga-app/DesignTimeBuild/.dtbcache.v2
