backend/bga-app/bga-app/DBConnection.cs
backend/bga-app/.vs/bga-app/DesignTimeBuild/.dtbcache.v2
backend/bga-app/.vs/bga-app/v16/.suo
backend/bga-app/bga-app/bin/Debug/netcoreapp3.1/bga-app.dll
backend/bga-app/bga-app/bin/Debug/netcoreapp3.1/bga-app.pdb
backend/bga-app/bga-app/obj/Debug/netcoreapp3.1/bga-app.assets.cache
backend/bga-app/bga-app/obj/Debug/netcoreapp3.1/bga-app.csproj.CoreCompileInputs.cache
backend/bga-app/bga-app/obj/Debug/netcoreapp3.1/bga-app.csprojAssemblyReference.cache
backend/bga-app/bga-app/obj/Debug/netcoreapp3.1/bga-app.dll
backend/bga-app/bga-app/obj/Debug/netcoreapp3.1/bga-app.pdb
backend/bga-app/bga-app/obj/Debug/netcoreapp3.1/project.razor.json
backend/bga-app/.vs/bga-app/DesignTimeBuild/.dtbcache.v2

.DS_Store
node_modules
/dist
DBConnection.cs

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vs code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
bga-app/public/ajaxfile.php
bga-app/public/config.php
